<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automated Weather Classification Using Transfer Learning</title>
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <h1>Automated Weather Classification Using Transfer Learning</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
      <label for="file">
        Upload File <br />
        <input type="file" name="file" id="file" />
      </label>
      <br />
      <button type="submit">Predict</button>
    </form>
  </body>
</html>
